* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all 0.5s ease-in-out; */
}
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  background-color: #eaecec;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  perspective: 4000px;
}

#rotatedImg {
  background-image: url(./assets/images/bgd.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  z-index: -1;
}

.navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  background-color: rgba(25, 64, 0, 0.0);
  justify-content: center;
  margin-top: 20px;
  position: absolute;
  box-shadow: black -2px -2px 20px;
  text-transform: uppercase;
  animation: nav 0.5s ease-in-out;
  perspective: 900px;
}

@keyframes nav {
  from {opacity: 0; transform: translateY(-300px)};
}

.navigation li {
  padding: 20px;
}

.navigation li:hover {
  background-color: black;
  transform: scale(1.1) translateX(10px) translateY(10px) rotate(3deg);
  transition: all 0.3s ease-in-out;
  transform-origin: bottom;
  box-shadow: black -2px -2px 20px;
}

.navigation a {
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

#loginCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 550px;
  margin-top: -50px;
  position: relative;
  bottom: 0;
  box-shadow: black 1px 1px 50px;
  border-radius: 10px;
  justify-content: space-around;
  background-color: transparent;
  background-blend-mode: lighten;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(1, 1, 0.5, 1.1);
  animation-name: none;
}

@keyframes slidein {
  from {opacity: 0; transform: scale(0) rotateZ(-360deg)};
}

@keyframes jump {
  from {opacity: 0; transform: translateX(300px)};
}

#loginCont button{
  font-size: 12;
  padding: 3px;
  margin-left: 5px;
}

#loginCont p {
  font-size: 13px;
}

.logoName {
  color: white;
  font-size: 40px;
  font-weight: normal;
  display: inline-block;
  margin-top: 20px;
}

.logoName span {
  color: black;
  font-size: 40px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 70%;
  justify-content: space-evenly;
  outline: none;
}

.inputBox {
  padding: 15px;
  font-size: 1em;
  border: black 2px solid;
  box-shadow: 0px 8px 6px -6px black;
}

.button {
  background-color: black;
  height: 70px;
  color: white;
  font-size: 1em;
  box-shadow: black 0px 8px 6px -6px;
  border: none;
  outline: none;
}

.button:active {
  background-color: white;
  color: gray
}

input {
  outline: none;
}

.introLogin {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-top: -400px;
  width: 100%;
}

.introLogin a {
  text-decoration: none;
}

.intro {
  display: flex;
  align-items: center;
  animation: intro 0.4s cubic-bezier(1, 1, 0.5, 1.1);
}

@keyframes intro {
  from {opacity: 0; transform: translateX(-300px)};
  from {opacity: 1; transform: translateX(0px)}
}

.introText {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.introText p {
  color: gray;
  padding-bottom: 10px;
}

.me {
  width: 160px;
  height: 160px;
  margin-right: 20px;
}

.rotatedBox {
  width: 200%;
  height: 200px;
  transform: rotate(-5deg);
  background-color: #eaecec;
  margin-top: -100px;
  z-index: -1;
  border-top: rgb(255, 255, 255) 1px solid;
}

#explore {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 60px;
  padding: 40px 0px;
  overflow: hidden;
  /* margin-bottom: 400px; */
}

.exploreCont {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid 3px rgba(150, 211, 109, 0.2);
}

.exploreCont div {
  width: 600px;
  margin-left: -150px;
  font-weight: 100;
  letter-spacing: 2px;
  word-spacing: 4px;
  line-height: 20px;
  padding: 20px 0px;
  height: 400px;
  overflow: hidden;
}

.exploreCont img {
  width: 200px;
  height: 300px;
  margin-right: -100px;
}

.author {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 900px;
  align-items: center;
  color: gray;
}

.author button {
  width: 100px;
  height: 50px;
  margin-right: 55px;
}

#categories {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  padding: 40px 200px;
  background-image: url(./assets/images/bgb.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#categories button {
  display: inline-block;
  background-color: rgba(1,1,1,0.7);
  margin: 10px;
  font-size: 14px;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 1px 20px black;
  outline: none;
  cursor: pointer;
}

#categories button:hover {
  transform: scale(1.1);
  background-color: black;
  transition: all 0.3s ease-in-out;
}

#search {
  margin-top: 60px;
  padding-top: 40px;
  width: 100%;
  text-align: center;
  position: relative;
}

#search form {
  width: 100%;
}

#search input {
  height: 50px;
  padding: 10px;
}

#search .inputBox {
  width: 60%;
}

#subscribe {
  margin-top: 60px;
  padding: 40px 0px;
  width: 100%;
  text-align: center;
}

#subscribe form {
  width: 100%;
}

#subscribe input {
  height: 50px;
  padding: 10px;
}

#subscribe .inputBox {
  width: 40%;
}

#subscribe .button {
  width: 10%;
}

#footer {
  margin-top: 60px;
  padding-top: 40px;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(1,1,1,1);
  color: white;
}
.contactAbout {
  display: flex;
  justify-content: space-between;
  align-items: center
}

#footer p {
  margin-bottom: 20px;
}

.contact {
  margin-left: 100px;
  padding-right: 40px;
  list-style: none;
}

.contact h2 {
  margin-bottom: 20px;
}

.contact li {
  color: white;
  cursor: pointer;
  padding: 10px 0px;
  text-decoration: underline;
}

.about {
  max-width: 400px;
  padding: 0px 40px;
  border-left: 1px white solid;
}

.about p {
  color: white;
  font-size: 14px;
  margin-top: 20px;
}

.contactAbout img {
  width: 60px;
  cursor: pointer;
  padding: 5px;
}

#editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  animation: editor 0.4s ease-in-out;
  transform-origin: top;
}

@keyframes editor {
  from {opacity: 0; transform: rotateX(-90deg)};
  to {opacity: 1; transform: rotateX(0deg)};
}

.quill {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quill .ql-container.ql-snow {
  border: none;
}

.quill .ql-toolbar.ql-snow {
  border: none;
  padding: 20px 8px;
  background-color: #eaecec;
}

.quill .ql-editor {
  width: 960px;
  background-color: white;
  height: 40rem;
  font-size: 14px;
  /* border-bottom: 2px solid black; */
}

#editor .button {
  height: 50px;
  width: 100px;
  padding: 10px;
  margin-left: 100px;
}

#editor .inputBox {
  height: 50px;
  width: 30%;
  border: none;
  border-radius: 5px;
}

#editor form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60rem;
  margin-top: 30px;
}

.userinfo p {
  font-style: italic;
}

#link-to-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: slidein 0.5s ease-in-out forwards;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform-origin: top;
}

.bouncy {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: black 1px 1px 50px;
  background-color: black;
  width: 200px;
}

.bouncy:hover {
  animation: bouncy 0.4s ease-in;
}

.bouncy:hover img {
  animation: bouncy 0.4s ease-in 0.1s;
}

.bouncy .button {
  width: 100%;
  border-radius: inherit;
  background-color: transparent;
  box-shadow: none;
  color: white;
  cursor: pointer;
}

.bouncy img {
  width: 50px;
  margin-top: -20px;
}

@keyframes bouncy {
  50% {transform: translateY(-10px);}
  100% {transform: translateY(0px);}
}

#categories, #explore {
  animation: navItems 0.4s ease-in-out;
}

@keyframes navItems {
  from {opacity: 0};
  to {opacity: 1};
}

.username-red, .fullname-red, .password-red, .email-red {
  border-color: red;
  background-color: rgba(200, 70, 70, 0.2);
}

.userCont {
  text-align: center;
  background-color: black;
  color: white;
  font-weight: normal;
  padding: 30px;
  border-radius: 10px;
  box-shadow: black 1px 1px 50px;
}

.userCont img {
  width: 50px;
  margin-bottom: 10px
}

.userCont:hover {
  animation: bouncy 0.4s ease-in;
}

.userCont:hover img {
  animation: bouncy 0.4s ease-in 0.1s;
}

.errorMsg {
  width: 100%;
  color: rgb(255, 0, 0);
  text-shadow: 3px 3px 5px black;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
  text-align: center;
  padding: 20px;
}

.user-stories {
  width: 100%;
  padding: 30px 10%;
  background-color: white;
  background-image: url(./assets/images/bga.jpg);
  background-attachment: fixed;
  margin-top: 100px;
}

.story-cont {
  display: flex;
  background-color: transparent;
  box-shadow: 2px 2px 15px 1px black;
  border-radius: 10px;
  width: 320px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

.story-cont div {
  width: 50%;
  overflow: hidden;
}

.story-cont:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.2s cubic-bezier(1, 1, 0.5, 1.1);
}
.user-stories button {
  width: 60px;
  height: 40px;
  margin-left: 10px;
}

#dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: editor 0.4s ease-in-out;
  transform-origin: top;
}

.profile {
  width: 600px;
  padding: 30px;
  box-shadow: 2px 2px 10px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  color: #eee;
  background-color: black;
}

.profile h2 {
  margin-bottom: 6px;
}

.profile button {
  font-weight: bold;
  cursor: pointer;
  font-size: 30px;
}

.profile button:focus {
  background-color: black;
}

.dashCont {
  margin: 50px 0px;
  width: 70%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.dashCont > p {
  position: absolute;
  left: 0px;
  color: gray;
  width: 100%;
  text-align: center;
}

.storySq {
  margin: 20px;
  padding: 10px 10px 0px 10px;
  background-color: white;
  box-shadow: 2px 2px 15px black;
  position: relative;
}

.storySq:hover {
  transform: scale(1.06);
  transition: all 0.3s ease-in-out;
}

.storySq h2 {
  height: 55px;
  overflow: hidden;
}

.storySq h4 {
  height: 25px;
  overflow: hidden;
}

.storySq div {
  margin: 10px 0px;
  max-width: 200px;
  font-size: 13px;
  overflow: hidden;
  height: 150px;
}

.storySq .delete {
  position: absolute;
  margin: 0px;
  top: -8px;
  right: -8px;
  width: 24px;
  height: 24px;
  padding-bottom: 4px;
  border-radius: 12px;
  outline: none;
  background-color: black;
  color: white;
  visibility: hidden;
}
.storySq:hover .delete {
  visibility: visible;
}

.storySq button {
  width: 100%;
  cursor: pointer;
  margin: 10px 0px;
}

.popup-cont {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  z-index: 5;
}

.popup-box {
  width: 60%;
  height: 100%;
  background-color: black;
  box-shadow: 8px 3px 30px black;
  color: white;
  padding: 60px;
  overflow-y: scroll;
  color: #aaa;
  line-height: 40px;
  animation: editor 0.4s ease-in-out;
  transform-origin: top;
  z-index: 6;
}

.popup-box:hover {
  cursor: text;
}

.popup-box * {
  width: 100%;
}

.popup-close {
  position: fixed;
  right: 40px;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: black;
  box-shadow: 1px 1px 10px black;
  cursor: pointer;
}

.searchItems {
  transform: translate(50%);
  margin-left: -20%;
}

.searchItems .moreBtn {
  width: 100%;
}